body {
    background-color: #85CBB3;
}
h1 {
    color:black;
    text-align: center
}
h2{
    font-size:40px;
}
.grid-container {
    display:grid;
    grid-template-columns:auto auto ;
    justify-content:center;
    gap: 20px ;
}
.grid-item1 {
    text-align: center;
    width:600px;
    height: 700px;
    border-color: white; 
    border-style:solid;
    border-left-color: #85CBB3;
    border-right-color: #85CBB3;
    border-bottom-color: #85CBB3
}
.grid-item2{
    text-align: center;
    width:600px;
    height: 700px;
    border-color: white; 
    border-style:solid;
    border-left-color: #85CBB3;
    border-right-color: #85CBB3;
    border-bottom-color: #85CBB3
}
.instaImg{
    width: 32px;
    height: 32px
}
.handles {
    width: auto;
    background-color: blue;
    display: grid;
    justify-content: center ;
}
p{
    font-size: 25px
}