body {
    
}
h1 {
    color:black;
    text-align: center
}
h2{
    font-size:40px;
}
.grid-container {
    display:grid;
    grid-template-columns:auto auto ;
    justify-content:center;
    gap: 20px ;
}
.grid-item1 {
    text-align: center;
    width:600px;
    height: 700px;
   
}
.grid-item2{
    text-align: center;
    width:600px;
    height: 700px;
   
}
.instaImg{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    border-style: solid;
    border-color: pink ;
}
.instaImg:hover {
    opacity:.7;
    background-color: lightcoral;
}


.handles {
    width: auto;
    display: grid;
    justify-content: center ;
}
p{
    font-size: 25px
}
