*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
}
h1 {
  color: black;
  text-align: center;
}
h2 {
  font-size: 40px;
}
p {
  font-size: 25px;
}
a {
  text-decoration: none;
  color: black;
}
#ch {
  display: none;
}
.portfolioHead {
  font-size: 30px;
}

.grid-item1 {
  grid-area: header;
}
.grid-item2 {
  grid-area: footer;
}
.grid-item3 {
  grid-area: head;
}
.grid-item4 {
  grid-area: foot;
}
.grid-container {
  display: grid;
  padding: 45px;
  grid-template-columns: repeat(2, minmax(100px, 900px));
  grid-template-areas:
    "header  head "
    "footer  foot ";
  justify-content: center;
  text-align: center;
  gap: 40px;
}

.instaImg {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  border-style: solid;
  border-color: pink;
}
.instaImg:hover {
  opacity: 0.7;
  background-color: lightcoral;
}
.portfolioImg {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  border-style: solid;
  border-color: pink;
}
.portfolioImg:hover {
  opacity: 0.7;
  background-color: lightcoral;
}
/* .meg {
  border-style: solid;
  border-color: black;
  width: 20vw;
} */
/* .meg:hover {
  background-color: red;
} */
/* src index */

.home-button {
  position: absolute;
  z-index: 2;
  padding: 20px;
  background-color: pink;
  margin: 6px 6px 6px;
  border-radius: 0px 0px 30px 0px;
  text-decoration: none;
}

.home-button:hover {
  background-color: lightpink;
  cursor: pointer;
}
.home-button:visited {
  color: black;
  text-decoration: none;
}
.carousel {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url("../images/background.jpg");
  background-size: cover;
}
.carousel > ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.slide {
  display: flex;
  justify-content: center;
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
  border: 5px solid white;
  box-shadow: 10px 10px 10px 10px #888888;
}
.slide > img {
  display: grid;
  width: auto;
  object-fit: contain;
  box-shadow: 10px 10px 10px 10px #888888;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 5px solid white;
}
.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}
.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 4rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba (255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.1);
}
.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-button.prev {
  left: 1rem;
}
.carousel-button.next {
  right: 1rem;
}

@media screen and (max-width: 480px) {
  body {
    height: auto;
  }
  p {
    font-size: 18px;
  }

  #ch:checked ~ .content {
    display: block;
  }
  label {
    display: inline-block;
    cursor: pointer;
    background-color: lightpink;
    padding-left: 30px;
    padding-right: 30px;
  }
  .content {
    display: none;
  }
  .portfolioHead {
    font-size: 25px;
  }
  .grid-container {
    grid-template-columns: minmax(100px, 480px);
    grid-template-areas:
      "header"
      "footer"
      "head"
      "foot";
    gap: 0px;
  }
  .grid-item3 {
    padding-top: 50px;
  }
  .instaImg {
    width: 40px;
    height: 40px;
  }
  .portfolioImg {
    width: 40px;
    height: 40px;
  }
  .slide {
    align-items: center;
  }
  .slide > img {
    width: 70vw;
  }
  .carousel-button {
    touch-action: manipulation;
    font-size: 2rem;
    height: 5rem;
  }
}
@media screen and (max-width: 783px) {
  .slide {
    align-items: center;
  }
  .slide > img {
    width: 70vw;
  }
}
